@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding:0;
	font:100%;
	font-family: 'Josefin Sans', sans-serif;
	
}

img{
	width:100%;
	
}
body{
	background-image: url(r5.jpg)
}
.header{
	display:none;
	width:70%;
}

.logo{
	width: 25%;
	margin: 0px 135px ;
}
p{
	margin-left: 10px;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color:darkgray
}
.wrapper{
	margin: 0 auto;
	width:270px
}

.main_story {
	margin:0 auto 20px;
	border-bottom: 2px solid white;
	padding-bottom: 10px;
	padding-top:10px;
	
}

.main_story img
{	margin-bottom: 10px;
	width: 100%;
	padding-left:0px;
}

.second_story{
	margin:0 auto 20px;
	border-bottom: 2px solid white;
	padding-bottom: 10px
}
.second_story img{
	margin-bottom: 10px;
	width: 100%;
}
.recent_news h2{
	color:white;
	text-align: center;
	margin-bottom: 10px;
}
.recent_news ol li{
	list-style:none;
	width:250px;
	border-bottom: 2px solid white;
	margin-bottom: 25px;
	line-height: 20px;
	font-size: .9em
	
}
.nomobile{
	display:none;
}
.notablet{
		display:none;
	}
@media  only screen and (min-width:768px){
	
.header{
	display:contents;
	margin:0 auto;
	width:78%
}
.logo{
		margin-left:270px;
		width:15%;
		margin-bottom:15px 
	
	}	
	
.wrapper{
	width:660px;
	
}
.headlines{
		width:60%;
		float:left;
		border:3px white solid;
		padding:4px
	}
	
.recent_news {
	width:35%;
	float:right;
	border: 3px solid white;
	}
	
	.recent_news ol li{
	width:195px;
	list-style:none;
	margin: 25px;
	line-height: 20px;
	font-size: .9em;
	margin-right: 20px
	
}
	.main_story {
	margin:0 auto 20px;
	border-bottom: 2px solid white;
	padding-bottom: 10px
	
}

.main_story img
{	margin-bottom: 10px;
	width: 95%;
	margin-left: 6px
}

.second_story{
	margin:0 auto 10px;
	border-bottom: 0px solid white;
	padding-bottom: .5px
}
.second_story img{
	width:88%;
	margin-bottom: 10px;
	margin-left: 5px;
	
	}
	.second_story a{
		text-align:left;
		margin-left:10px;
		
	}
	.recent_news ol{
		float: right
		
	}
	.recent_news h2{
		margin-top:15px;
	}
	.nomobile{
	display:contents;
}
}
@media only screen and (min-width:1000px){
	
.wrapper{
	width:1000px;
	}
.header{
	display:contents;
	margin:0 auto;
	width:50%;
}
.logo{
	margin-left:470px;
	width:12%
}
.headlines{
	width:60%;
	float:left;
	border:3px white solid;
	padding:0px
}
	
.main_story img{	
	margin-top:5px;
	margin-bottom: 10px;
	width: 88%;
	margin-left: 28px
}
.headlines p{
	margin-left:27px	
}
.second_story img{
	width:88%;
	margin-bottom: 10px;
	margin-left: 19px;
	
}
.recent_news {
	width:35%;
	float:right;
	border: 3px solid white;
	}
	
.recent_news ol li{
	width:295px;
	list-style:none;
	margin: 25px;
	line-height: 20px;
	font-size: .9em;
	margin-right: 20px
	
}
.notablet{
		display:contents;
	}
.headlines{
		padding-bottom: 0px;
	}
}
